
/* === Base Styles === */
/* === Base Styles === */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body{  
    background-color: #000000;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.postimg.cc/pLY49QwJ/UI-Landing-Page.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
}



/* Fonts */
/* Fonts */
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* container */
/* container */
.container{
    padding: 10px 3%; 
}


/* === Navigation === */
/* === Navigation === */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: wrap;
}

.logo{
    padding: 20px 0px;
    width: 230px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 50px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: "thin", sans-serif;
    letter-spacing: 7px;
    font-weight: 200;
    font-size: 15px;
    position: relative;
    padding: 5px 10px;
    z-index: 1;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: px;
    z-index: -1;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
    bottom: -6px;
}

nav ul li a:hover::after{
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width 0.5s ease-in-out;

    overflow: hidden;
    box-shadow: 0 0 5px #00f7ff, 0 0 40px #00f7ff, 0 0 80px #00f7ff;

}


/* Hide menu icon on desktop */
/* Hide menu icon on desktop */

 

.menu-icon {
  display: none;
 }  



/* ====Hero Section ==== */
/* ====Hero Section ==== */
.header-text{
    margin-left: 40px;
    font-size: 20;
    font-family: "poetsen-one", sans-serif;
    font-weight: 400;
}

.mini-intro{
    color: aqua;
    font-size: large;

}

.typing-header{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 50px;
}

.header-text p{
    margin-top: 10%;
    font-size: 20px;
    font-weight: 400;
}

.header-text h1{
    font-size: 60px;
    font-weight: 800;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ae8035;

}

.header-text h3{
    font-weight: 800;
    margin: 20px 50px;
}

.header-description {
  font-size: 16px !important;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  margin-top: 0px !important;
  margin-left: 80px !important;
  line-height: 1.6;
  color: #ccc;
}




/* Button style (Hire me) */
/* Button style (Hire me) */


.hire-me-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 60px;
    margin-left: 400px;
    gap: 40px;
}

.hire-me-btn {
    display: inline-block;
    padding: 12px 28px;
    font-family: "Michroma", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 4px;
    color: #000000;
    background-color: #82dfdf;
    border: 2px solid #353333;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;

}

.hire-me-btn:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.7s ease-in-out;
    box-shadow: 0 0 5px #00f7ff, 0 0 40px #00f7ff, 0 0 80px #00f7ff;
    transform: scale(1.05);
}



/* === About Section === */
/* === About Section === */

#about {
    padding: 100px;
    color: #dbd9d9;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-sub-title {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
    color: #96691b;
}


.about-col-1 {
    flex-basis: 35%;
    margin-top: 0px;
}


.about-col-1 img {
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    max-width: 100%;
    margin-top: 60px;
}


.about-col-2 {
    flex-basis: 60%;
    margin-left: 50px;
    margin-top: 0px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #96691b;
    text-align: center;
}

.about-description {
    padding: 25px 0;
    font-size: 14px;
    font-family: "Michroma", sans-serif;
    margin-right: 110px;
    margin: 0px;
    color: #ababab;
}

.tab-titles {
    display: flex;
    margin-top: 0px;
    font-family: "Merienda", cursive;
}

.tab-links {
    margin-right: 50px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-contents {
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.1;
    color: #ccc;
}


.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #af2323;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 100%;
    background: #af2323;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-links.active-link:hover::after {
    width: 100%;
}


tab-links.active-link {
    padding: 30px;
}

.tab-items {
    display: none;
    margin-top: 290px;
}

/* .skills-list {
    margin-top: 20px;
    margin-right: 380px;
} */

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #5483b8;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/* Portfolio section */
/* portfolio section */


.portfolio {
    padding: 100px;
    color: #ababab;
    justify-content: center;
    text-align: center;

}

.port-sub-title {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
    color: #96691b;
    text-align: center;
}

/* .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */


.project1-col-1 {
    flex-basis: 40%;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}


.project1-col-1 img {    
    width: 99%;
    border-radius: 25px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    padding: 20px;
    max-width: 100%;
    margin-top: 50px;
    box-shadow: 0 8px 25px rgba(750, 730, 730, .55);
}

.project1-col-1:hover img {  
    transform: scale(1.15);
    box-shadow: 0 8px 25px rgba(750, 730, 730, .55);
}


.project1-col-2 {
    flex-basis: 55%;
    margin-left: 5px;
    margin-top: 50px;
}

.project-title {
    font-size: 30px;
    padding: 0;

}

.project-title::after {
    content: '';
    width: 20%;
    height: 3px;
    background: #b4302b;
    display: block;
    margin-top: 2px;
    border-radius: 5px;
}

.project-sub-title {
    font-size: 15px;
    font-weight: 200;
    font-family: "Poiret One", sans-serif;
    font-style: thin;
}

.project-description {
    padding: 25px 0;
    font-size: 16px;
    font-family: "Michroma", sans-serif;
    margin-right: 110px;
    margin: 0px;
    color: #ababab;
}
















.last{
    padding-top: 10%;
}

.last1{
    padding: 25px ;
    font-size: 45px;
    font-weight: 200;
    color: #632fc5;
    font-family: "Michroma", sans-serif;
    margin-right: 110px;
    margin: 0px;
}

.last2{
    padding: 15px;
    font-size: 35px;
    font-weight: 200;
    color: #ae8035;
    font-family: "Michroma", sans-serif;
    padding-left: 200px;
    margin: 0px;
}

.last3{
    padding: 5%;
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    justify-content: center;
    
}


.last4{
    color: #b4302b;
    font-size: 17px;
    font-family: "Michroma", sans-serif;
}

.last41{
    font-size: 15px;
    font-family: "Michroma", sans-serif;
    text-align: center;
    padding-right: 15%;

}

.last5{
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    padding-left: 80%;
    padding-top: 0%;
    padding-bottom: 30%;
}




/* === Resonsive Css for mobile Devices === */
/* === Responsive CSS for Mobile Devices === */

@media screen and (max-width: 768px) {

    #header {
        width: 100%;
        height: 100vh;
        display: center;
        background-image: none;
        background-size: cover;
        background-position: center;
        justify-content: center;

        /* .about-col-1 img {
        width: 80%;
        max-width: 100%;
        margin-top: 20px;
    } */


        nav ul {
            display: none;
            flex-direction: column;
            background-color: #080808;
            position: absolute;
            top: 80px;
            /* right: 30px; */
            /* width: 200px; */
            border: 1px solid #ae8035;
            padding: 10px;
            z-index: 100;
        }


        nav ul.show {
            display: flex;
        }

        .menu-icon {
            display: block;
            cursor: pointer;
            font-size: 40px;
            margin-right: 20px;
            color: #efeeeb;
        }

        .logo {
            width: 150px;
        }


        /* .auto-type {
        display: inline-block;
        min-height: 2.4em;
        line-height: 1.2;
        overflow: hidden;
        white-space: nowrap;
        
    } */



        .header-text {
            text-align: center;
            margin-left: 0;
            padding: 0px;
            font-size: 16px;
        }

        .header-text,
        h1 {
            font-size: 40px;
            min-width: 3.5em;
        }

        .header-text h3 {
            margin: 20px 0;
            font-size: 18px;
        }

        .header-description {
            margin: 10px;
            font-size: 14px !important;
            /* this will forcely override the previous font-size */
            margin-left: 0 !important;
            padding: 0 20px;
            text-align: center;
        }





        .about-col-1 img {
            display: center;
            justify-content: center;

            margin-top: 20px;
            width: 60%;
            max-width: 250px;
        }

        .about-col-2 {
            margin-left: 0;
            text-align: center;
            padding: 0 20px;
        }

        .about-description {
            padding: 20px 0;
            margin-right: 0;
            font-size: 14px;
            text-align: center;
        }

        .sub-title {
            font-size: 36px;
        }

        .hire-me-container {
            margin: 40px auto 0 auto;
        }





        /* button */
        .hire-me-container {
            justify-content: center;
            margin-right: 0;
        }

        .hire-me-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 40px auto 0 auto;
            gap: 20px;
            width: 100%;
        }

        .row {
            flex-direction: column;
            align-items: center;
        }


    }

}
